<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">10 Minute Programming</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="https://addgaming.gitlab.io/10minutepython/">Home</a>
                <a class="nav-link fw-bold py-1 px-0" href="https://gitlab.com/AddGaming/10minutepython">Repository</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>10 Minute Programming</h1>
        <p class="lead text-left">Ein kleiner Kurs zum Thema Alltagsprogrammierung.<br>
            Alles ist so einfach gehalten, dass auch jeder mitmachen kann.<br>
            Keine Vorerfahrung mit Computern vorausgesetzt!<br>
            Jedes Kapitel sollte also in unter 10 Minuten gelesen und erledigt werden können,
            was hoffentlich motiviert, täglich mitzumachen.
        <div class="lead chapter-div clearfix">
            CHAPTERS
        </div>
    </main>

    <footer class="mt-auto text-white-50">
        <p>A work in progress programming book</p>
    </footer>
</div>
